
html, body {
  width: 100vw;
  height: 100vh;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%
}

.full-height{
  min-height: 100vh;
  height: 100%;
}

.red {
  background-color: red;
}

.header {
  padding: 4% 2%;

}

article {
  padding: 2% 2%;
}

.nav-link {
  color: black;
  background-color: white;
}

.wide {
  width: 100%;
  background-color: orange;
}

.nav-link {
  margin-bottom: 2%;
}
