
html, body {
  width: 100vw;
  height: 100vh;
}

.full-size {
  height: 100%;
  width: 100%;
  background-color: orange;
}

.full-width {
  width: 100%
}

.full-height{
  height: 100vh;
}

.red {
  background-color: red;
}

.header {
  padding: 4% 2%;
}

article {
  padding: 2% 2%;
}

.nav-link {
  color: black;
  background-color: white;
}

.wide {
  width: 100%;
  background-color: orange;
}

.nav-block {
  display: block;
  width: 100%;
  margin: 3% 0;
  border-radius: 5%/30%;
  text-align: center;
}
